<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=9;IE=10;IE=11;IE=Edge,chrome=1" />
    <title ng-bind="curPageTitle"></title>

 <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
<script src="angular/angular.min.js" > </script>

<script src="app.js" > 
</script>
<script type="text/javascript" src="directives/directive.js"></script>
<script type="text/javascript" src="directives/customeFields/customFieldController.js"></script>





</head>

<body ng-app="myapp">
    <!--<div class="full-page-overlay" route-loader>
    <i class="icon-loader spin">Loading…</i>
  </div>
  <div ng-view></div>-->
<div class="well" ng-controller="MyController">
    <h4>Click me to toggle: <input type="checkbox" ng-model="checked"></h4>
    <a class="btn btn-primary" ng-disabled="checked" ng-click="!checked || handleAnchorClick()">ANCHOR</a>
    <button class="btn btn-primary" ng-disabled="checked" ng-click="handleButtonClick()">BUTTON</button>
    <hr/>
    <p>Anchor Clicks: {{anchorClicks}}</p> {{checked}}
    <p>Button Clicks: {{buttonClicks}}</p>  
    <div class="row">
    {{myCustomJson}}
    <table class="table">
    <thead>
    <tr><th ng-repeat="colName in myCustomJson[0]" >{{colName.label}}</th>
    </tr>
        
    </thead>
    <tbody>
        <tr ng-repeat="outer in myCustomJson">
            <td ng-repeat="inner in outer"><!-- {{inner.type}} --> <custom-field alter-field="actionOnField" type="inner.type" options="inner.options" canEdit="'true'" field="inner"    value="inner.value"> </custom-field> </td>
        </tr>
    </tbody>
        
    </table>

    </div>  
</div>
</body>
</html>